streamlit==1.34.0
streamlit-chat
pandas
numpy
matplotlib
requests
GoogleNews
streamlit-timeline
plotly.express
pytz
deep-translator
google-generativeai
openai
gTTS
streamlit_chat
python-docx
enelvo
wordcloud
